<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj nazwę zwierzęcia" ng-model="animalName">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="add()">Dodaj zwierzę</button>
            </span>
        </div>
    </div>
    </div>
    
</div>