<!DOCTYPE html>
<html ng-app="firstApp">
    <head>
        <title>Temperatury</title>
        <meta charset="utf-8" />
<!--        <link rel="stylesheet" href="./css/style.css" />-->
    </head>
    <body>
        <div class="container">
            <div ng-controller="firstControler">
                
                TEMPERATURA C <input type="text" ng-model="tempC" ng-keyup="formC()"/><br/>
                TEMPERATURA F <input type="text" ng-model="tempF" ng-keyup="formF()"/><br/> 
                TEMPERATURA K <input type="text" ng-model="tempK" ng-keyup="formK()"/><br/>
                
<!--                <button ng-click="showMessage()">Przelicz</button>-->
            
     
                
                
                
                
                
            </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>




<!--

Utwórz projekt angularowy, który będzie zawierał jeden moduł aplikacji, oraz jeden kontroler. Aplikacja powinna zawierać 3 pola, w które można wpisać dane. Każde z pól kolejno powinno odpowiadać temperaturze wyrażonej w:

- celcjuszach

- kelvinach

- fahrenheitach

Zasada działania powinna być nastepująca: przy wpisywaniu danych w którykolwiek z inputów, automatycznie powinny być przeliczane i uzupełniane następne. -->
