<!DOCTYPE html>
<html ng-app="firstApp">
    <head>
        <title>Angular Samples</title>
        <meta charset="utf-8" />
<!--        <link rel="stylesheet" href="./css/style.css" />-->
    </head>
    <body>
        <div class="container">
            <p>{{2+2}}</p>
            <div ng-controller="firstControler">
                <input type="text" ng-model="imie"/>
                <p>{{imie | uppercase}}</p>
            {{message}}
            
                <p>{{user.name}} {{user.lastname}} ({{user.salary | currency}})
                    {{user.FtoLowercase}} {{user.FtOUpper}}
                    {{user.Json}}
            
                </p>
                
                <div ng-controller="thirdControler">
                {{message}} &bull; {{$parent.message}}
                   
                    <ul>
                        <li ng-repeat="item in myList">{{item}}</li>
                    </ul>
                    <button ng-click="showMessage()">Wyswietl</button>
                    
                </div>
            </div>
<!--            // czwarty kontroler-->
        <div ng-controller = "fourthC">
           
            <button ng-click="showCurrency()">Pokaz waluty</button>
                <div id="result">
                {{ rates }}
                </div>
      
        </div>
        
        
        
        
<!--        // piaty kontroler-->
           <div ng-controller = "fifthC">
           
            <button ng-click="showName()">Pobierz Osobe</button>
                <div id="result2">
                {{ person }}
                </div>
      
        </div>
        
        
        
        
        
<!--         //drugi kontroler-->
        
        <div ng-controller = "secondControler as secondC">
               {{secondC.info}}
        </div>
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>