<div class="well">
    <div class="row">
    <div class="well">
    <p>{{ message }}</p>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj nazwę zwierzęcia" ng-model="animal.name">
            <input type="text" class="form-control" placeholder="Obrazek ze zwierzęciem" ng-model="animal.image">
            <textarea class="form-control" name="description" ng-model="animal.description" placeholder="Opis zwierzęcia..."></textarea>
            <select class="form-control" ng-model="animal.specie">
                <option ng-repeat="s in species" value="{{ s.id }}">{{ s.name }}</option>
            </select>
            <button class="btn btn-success m-t-30" type="button" ng-click="edit()">Edytuj zwierzę</button>
        </div>
    </div>
    </div>
    
</div>