<div class="well">
    <p>{{ staff.name }} {{staff.lastname}} {{staff.salary}}</p>
    <div class="row">
    
        <div class="col-md-6">
            <p><strong>Profesja: </strong><a href="/#!profession/{{ staff.profession.id }}">{{ staff.profession.name }}</a></p>
        </div>
    </div>
</div>