<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Dodaj profesje</h3>
            <hr>
            <p ng-if="message">{{ message }}</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="name" placeholder="Podaj nazwę..."/>
                <hr>
                <button type="submit" class="btn btn-success" ng-click="add()">Dodaj</button>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Profession:</h3>
            <hr>
            <ul>
                <li ng-repeat="p in profession"><a href="/#!profesion/{{ p.id }}">{{ p.name }}</a></li>
            </ul>
        </div>
    </div>
</div>