<div class="well">
    <div class="row">
        <div class="col-md-12">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Podaj imie pracownika" ng-model="staffName">
            <input type="text" class="form-control" placeholder="Podaj nazwisko pracownika" ng-model="staffLastname">
            <input type="text" class="form-control" placeholder="Podaj SALARY" ng-model="staffSalary">
            
            <select class="form-control" ng-model="profession">
                <option ng-repeat="p in profesion" value="{{ p.id }}">{{ p.name }}</option>
            </select>
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj Pracownika</button>
        </div>
    </div>
    </div>
    
</div>