<div class="jumbotron">
    <h1>Witaj w królewstiw zwierząt.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan viverra condimentum. Duis et eros mauris. Ut fermentum a lacus vitae pulvinar. Nunc gravida egestas ultrices. Suspendisse elementum, mi eget sollicitudin cursus, metus ipsum malesuada magna, quis rhoncus lorem est eu felis. Nam suscipit arcu et volutpat tempor. Pellentesque luctus ultricies erat, quis imperdiet neque feugiat sed. Vivamus at finibus eros, eu malesuada nisi. Morbi sed convallis nisl. Donec ac rhoncus sapien. Quisque mattis ante turpis, non finibus dui maximus in. Etiam odio velit, aliquam a neque eu, semper rutrum augue. Nulla vulputate aliquet interdum. Integer quis orci et metus mollis suscipit. Ut faucibus tellus venenatis augue aliquam accumsan. Nam vel quam sapien.</p>
</div>