#formLogin{padding: 15px; min-width:300px;}

.m-t-30 {
    margin: 0 auto;
    margin-top: 30px;
}

.col-md-6 {
    margin-top: 100px;
}

.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}