body{
    background-color: blanchedalmond;
    color: black;
}
.sidebar {
    width: 250px;
    margin: 0 auto;
    background-color: darkseagreen;
    height: 92%;
}
.content{
    width: 750px;
    /*margin: 0 auto;*/
    background-color: lightskyblue;
    margin-left: 260px;
    height: 92%;

}
.floatLeft{
    float: left;
}
.footer {
    background-color: antiquewhite;
    color: black;
    text-align: center;

}
.header{
    margin: 0 auto;
    color: black;
    background-color: aliceblue;
    text-align: center;
}
a{
    color: blanchedalmond;
    text-decoration: none;
    padding: 5px;
}
a:hover {
    color:black;
    background-color: aquamarine;
}
ul{
    list-style: none;
}
#container{
    background-color: azure;
    height: 600px;
}