body{
    font-family: "Verdana","Times New Roman",sans-serif;    
}

.paragraph{
    font-size: 18pt;
            }
.paragraphColor{
    background-color: black;
    color: white;
            }
.borderBlue{
/*                border: 3px solid blue;*/
    border-color: blue;
    border-style: solid;
/*                       gora dol / prawa lewa   jak podamy 4 wartosci to idziemy zgodznie ze wskazowkami zegara od gory*/
/*                border-width: 1px 5px;*/
    border-width: 1px 3px 5px 7px;
            }

.wrapper{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 300px
        }

a{
    color: violet;
    text-decoration: none;
}
a:hover{
    color: darkmagenta;
}

.simpleText:after{
   content: "''";
}
.simpleText:before{
   content: ",,";
}
