.menu{
display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0;
padding: 30px 60px;
overflow: visible;
border: 1px solid #b7b7b7;
-webkit-border-radius: 3px;
border-radius: 3px;
font: normal 1em/normal Impact, Charcoal, sans-serif;
color: rgba(240,239,249,1);
-o-text-overflow: clip;
text-overflow: clip;
background: rgba(38,124,119,1);
-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,1) inset;
box-shadow: 2px 2px 2px 0 rgba(0,0,0,1) inset;
text-shadow: 1px 1px 0 rgba(0,0,0,1) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
-webkit-transform: rotateZ(-25.783100780887047deg)   ;
transform: rotateZ(-25.783100780887047deg)   ;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}


.hidden
{
    display: none;
}