<div class="well">
   <div class="row">
       <div class="col-md-12">
           <p>{{ message }}</p>
       </div>
   </div>
   <div class="row">
   <div class="col-md-6 col-md-offset-3">
       <div class="input-group">
           <input type="text" class="form-control" placeholder="Podaj nazwę zwierzęcia" ng-model="animalName">
           
           <textarea class="form-control" name="description" ng-model="desc" placeholder="opis zwierza..."></textarea>
           
           <textarea class="form-control" name="image" ng-model="image"
           placeholder="link do obrazka ..."></textarea>
           
            <button class="btn btn-success m-t-30" type="button" ng-click="add()">Dodaj zwierzę</button>
       </div>
   </div>
   </div>
   
</div>