<div class="well">
    <hr>
    <div class="row">
         <div class="col-md-12">
           <p ng-if="message">{{ message }}</p>
       </div>
        <div class="col-md-offset-3 col-md-6">
            <div class="input-group">
               
                <input type="text" class="form-control" ng-model="specieName" placeholder="Podaj nazwę gatunku"/>
                
               
                    <button type="submit" class="btn btn-success m-t-30" ng-click="add()">Dodaj Gatunek</button>    
              
            </div>
        </div>
    </div>
    
   <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <h3>Gatunki</h3>
            <hr>
            <ul>
                <li ng-repeat="specie in species"><a href="/#!specie/{{ specie.id }}">{{ specie.name }}</a></li>
            </ul>
        </div>
    </div>
    
</div>