body{
    padding: 0;
    margin: 0;
    background-color: white;
}
#headerContainer{
  width: 900px;
  height: 20px;
  background-color: blue;
  margin: 0 auto;
  /*border: 1px solid black;*/
}
#downContainer{
  width: 900px;
  height: 20px;
  background-color: black;
  margin: 0 auto;
}
#container{
    width: 900px;
    height: 500px;
/*    border: 1px solid black;*/
/*    text-align: center;*/
    margin: 0 auto;
}
.left{
    width: 250px;
    height: inherit;
    background-color: gray;

    /*border: 1px solid black;*/
}
.right{
    width: 650px;
    background-color: white;
/*    border: 1px solid black;*/
}
.floatLeft{
    float: left;
}

#container:after{
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
}
ul{
    margin: 0;
    padding: 10;s
    list-style-type: none;
}

nav > ul > li {
      padding: 5px 0px;
      text-align: left;
      list-style:none;

}
h2.menu{
    text-transform: uppercase;
    text-align: left;
    padding: 5px 10px;
    color: blue;
}
h2.title{
  text-align: left;;
  padding: 5px 10px;
  color blue;
}

/*
li:before {
  content: "• ";
  color: blue;  or whatever color you prefer 
}
*/
p.rightP{
  color: blue;
}
form.buttons{
    text-align: right; 
    padding-right: 30px;
    padding-top: 100px;
}

/* Generated via www.cssmenubuilder.com */

.breadcrumb{position:relative; height:30px; width:100%;}
.breadcrumb ul{position:relative; margin:0 5px 0 5px; padding:0; height:30px; background:url('breadcrumbImage.png') 0px -30px repeat-x; }
.breadcrumb ul li{padding:0; margin:0; list-style:none; float:left; height:30px display:inline;}
.breadcrumb ul li a{font:12px Arial, Helvetica, sans-serif; color:rgb(255,255,255); text-decoration:none; line-height:30px; display:block; background:url('breadcrumbImage.png') 100% -60px no-repeat; padding:0 17px 0 15px; }
.breadcrumb ul li a:hover {text-decoration:underline; color:rbg(255,255,255);}
.breadcrumb ul li a.active{background:none; color:rgb(255,255,255);}
.breadcrumb ul li a.active:hover {text-decoration:none;}
.breadcrumb .left{position:absolute; top:0px; left:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 0% 0px no-repeat;}
.breadcrumb .right{position:absolute; top:0px; right:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 100% -90px no-repeat; }

