<div class="well" >
         <div class="col-md-offset-3 col-md-6">
    <a class="btn btn-primary" href="#!" role="button">Pokaz inne</a>
    
    
     <a class="btn btn-primary" href="#!" role="button">Pokaz wykres temperatury</a>
       
    </div>

 
 
 
 
 
 
 
 
 

</div>