<div class="well">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
           <p>
               
               'http://192.168.0.18:5151'   .............
               
            
            tutaj bedzie opi w jaki sposob server musi wyswietlac temperature aby byla ona widziana na stronie,
               przykladowe linki ktore mozna wkleic oraz przykladowy wyglad textu na serverze
            </p>
            <hr>
            <div class="input-group">
                <input id="userInput" type="text" class="form-control"  placeholder="PodajWklej..."/>
                
                
            <hr>
                
                <a class="btn btn-primary" href="#!/tryChart" role="button" ng-click="add()" id="but11">Dodaj</a>
                
                
            </div>
        </div>
    </div>
</div>