 <div class="container" >
        <br/>        
        <br/> 
        <br/> 
        <br/> 

    
    <div ng-controller = "fifthC">




</div>

<div style="width: 600px; height: 400px; margin: 0 auto">
        <div id="container-sensor1" style="width: 300px; height: 200px; float: left"></div>
        <div id="container-sensor2" style="width: 300px; height: 200px; float: left"></div>
        <div id="container-sensor3" style="width: 300px; height: 200px; float: left"></div>
</div>
</div>

       

         
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>         
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.6.4/angular-sanitize.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="./js/app.js"></script>
