body {
    font-family: "Verdana", "Times New Roman", sans-serif;
}

.paragraph {
    font-size: 18pt;
}
.paragraphColor {
    background-color: black; 
    color: white;
}
.borderBlue {
/*              border: 3px solid blue; */
    border-color: blue;
    border-style: solid;
    /*      gora/dol    prawa/lewa */
    border-width: 1px 5px;
    /* jesli podajemy 4 wartosci, zaczynamy od gory */
    /* i idziemy zgodnie ze wskazowkami zegara */
    border-width: 1px 2px 3px 4px;
}

.wrapper {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

a {
    color: violet;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

.simpleText:before {
    content: ",,";
}


.simpleText:after {
    content: "''";
}





